/* =========================================
   BOTONES PRINCIPALES
   ========================================= */

/* Siguiente / Confirmar */
.boton-principal {
    -fx-background-color: #f97316;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 20;
}
.boton-principal:hover {
    -fx-background-color: #FF9977;
    -fx-cursor: hand;
}

/* Regresar */
.btn-regresar {
    -fx-background-color: transparent;
    -fx-border-color: #0f172a;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: #0f172a;
}
.btn-regresar:hover {
    -fx-background-color: #8ACEFF;
    -fx-border-color: #8ACEFF;
    -fx-cursor: hand;
}

/* Acciones internas (CineSync Blue) */
.btn-acc {
    -fx-background-color: #8ACEFF;
    -fx-background-radius: 20;
    -fx-text-fill: #0f172a;
}
.btn-acc:hover {
    -fx-background-color: #FFB98A;
    -fx-cursor: hand;
}

/* =========================================
   PESTAÑAS (TAB PANE)
   ========================================= */

.tab-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #b9cbdb;
}

.tab-pane .tab-header-area .tab-main-content {
    -fx-padding: 0;
}

.tab-pane .tab-content-area {
    -fx-background-color: white;
    -fx-border-color: transparent;
}

.tab {
    -fx-background-color: #e2e8f0;
    -fx-background-insets: 0 1 0 1;
    -fx-background-radius: 5 5 0 0;
    -fx-padding: 5 15 5 15;
}

.tab:hover {
    -fx-background-color: #cbd5e1;
    -fx-cursor: hand;
}

.tab:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected {
    -fx-background-color: #f97316;
}

.tab:selected .tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* =========================================
   TABLAS (TABLE VIEW)
   ========================================= */

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #cbd5e1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #334155;
    -fx-size: 35;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #f1f5f9 transparent;
}

.table-row-cell:odd {
    -fx-background-color: #f8fafc;
}

.table-row-cell:selected {
    -fx-background-color: #8ACEFF;
}

.table-row-cell:selected .text {
    -fx-fill: #0f172a;
    -fx-font-weight: bold;
}

.table-cell {
    /* Cambiado a CENTER para que los datos luzcan mejor */
    -fx-alignment: CENTER;
}

/* =========================================
   INPUTS (TEXTFIELDS, COMBOS, DATES)
   ========================================= */

.combo-box{
    -fx-background-color: #8ACEFF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cbd5e1;
    -fx-padding: 5;
}

.text-field, .date-picker {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cbd5e1;
    -fx-padding: 5;
}

.combo-box:hover{
    -fx-border-color: #0f172a;
    -fx-cursor: hand;
}

.date-picker:hover {
    -fx-border-color: #8ACEFF;
    -fx-cursor: hand;
}

.text-field:focused, .date-picker:focused {
    -fx-border-color: #8ACEFF;
    -fx-border-width: 2;
}